<div class="container" id="aboutIntro">
    <p> 
        My name is Wannes Dieltiens, 24 <!-- make age automaticly change each year--> years old and from Belgium.
        <br>
        <br>
        From an early age on I started showing deep interests in design, code and level-building making all sorts of creations 
        with Photoshop, game modding and amateuristic guild websites.
        <br>
        <br>
        During my free time a hike in nature, a deep conversation or a good Goa is what I mostly prefer.
        (and cats!)
    </p>
    <div id="imgWannes"></div>              
</div>

<div class="container" id="aboutMain">
        <div class="box">
                <img src="">
                <h3>Web Design</h3>
                <p>Graduated highschool in Multimedia learning HTML, CSS, PHP, MySQL, Javascript and working with a bunch of Adobe apps.
                </p>
        </div>
        <div class="box">
                <img src="">
                <h3>Game Dev</h3>
                <p>Did 1,5 years Digital Arts & Entertainment picking up the basics of C++ , 3D modeling, drawing and the general production-pipeline process which is helpful for any project.                 
                </p>
        </div>
        <div class="box"><p>Graduated highschool in Multimedia learning HTML, CSS, PHP, MySQL, Javascript and working with a bunch of Adobe apps. And this is some more extra text to test out the design.</p></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
</div>