<div class="container" id="aboutIntro">
    <p> 
        My name is Wannes Dieltiens, 24 <!-- make age automaticly change each year--> years old and from Belgium.
        <br>
        <br>
        <span>From an early age on I started showing deep interests in graphic design, web dev, game modding, nature and philosophy. 
               Later on, these became the subjects of my studies aswell as my hobbies.</span>
        <br>
        <!--<br>
        During my free time; a hike in nature, a deep conversation or a good Goa is what I mostly prefer.
        (and cats!)-->
    </p>
    <div id="imgWannes"></div>              
</div>

<div class="container" id="aboutMain">
        <!-- I should put content in a xml and iterate it through the div box for cleanness -->
        <div class="box">
                <h3>Web Design</h3>
                <p>
                        Graduated highschool in Multimedia learning <span>HTML, CSS, PHP, MySQL, Javascript </span>and more.
                <br>
                <br>
                        The focus was generaly on overall web development and related, here I learned most of my basic knowledge.
                </p>
        </div>
        <div class="box">
                <h3>Game Dev</h3>
                <p>
                        Studied 1,5 years Digital Arts & Entertainment picking up the basics of <span>C++ , 3D modeling</span>, drawing and the general production-pipeline process.                  
                </p>
        </div>
        <div class="box">
                <h3>Adobe Applications</h3>
                <p>
                        As I have been working with Adobe's apps for a long time the <span>workflow and UI</span> feels familiar, they are probably my favorite tools in developing any kind of project.
                </p>
        </div>
        <div class="box">
                <h3>Philosophy</h3>
                <p>
                        Studied 1 year Philosophy out of interest. <span>Critical / logical thinking and problem solving</span> are skill sets I enjoy using throughout my work and life.
                </p>
        </div>
        <div class="box">
                <h3>Art & Drawing</h3>
                <p>
                        Mostly into drawing dark, psychedelic, symbolic or horrific <span>sketches and designs</span> from the imagination.
                        Also love to work with wood or clay material once in a while.
                </p>
        </div>
        <div class="box">
                <h3>Game Dev</h3>
                <p></p>
        </div>
        <div class="box">
                <h3>Game Dev</h3>
                <p></p>
        </div>
        <div class="box">
                <h3>Game Dev</h3>
                <p></p>
        </div>
</div>