.container {
    
    margin: 1rem auto;
    height: auto; // could be auto?
    display: flex;
}


#imgWannes {
    height: 200px;
    width: 150px;
    //max-width: 180px;
   // min-width: 180px;
    background-color: var(--accentSD); //temp
    background-image: url();
    margin: 1rem;
}

#aboutIntro {
    background-color: var(--c3);
    margin-top: 1rem;
    justify-content: center;
    width: 37.25rem;
    color: var(--accentS);
    box-shadow: var(--neulook);
    

    p {
        font-size: 17px;
        width:50%; // make Intro text and wannes img fit container, maybe 
        min-height: 10rem;   
        //background-color:rgba(255, 255, 0, 0.144);
        text-align: center;
        margin: 1rem;
        margin-top: 1.5rem;
    }

    p span {
        font-style: oblique;
        color: var(--accentSD);
    }
}

#aboutMain {
    //background-color: var(--c1);
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
}

.box {
    height: 290px;
    width: 290px;
    margin: 0.5rem;
    background-color: var(--c3);
    //border-style: solid; // temp!!!
    border-color: var(--accentSD);// temp!!!!
    //box-shadow: 0 0.7em 0.8rem 0.1rem rgba(5, 5, 5, 0.5);
    box-shadow: var(--neulook);
}

.box p {
        text-align: center;
        width: 90%;
        height: 60%;
        margin: auto;
        //display: block;
        color: var(--accentS);
        font-weight: bolder;
        //background-color: var(--c1); //temp
    }

.box span {
    color: var(--accent);
}

h3 {
    margin: 0.5rem auto;
    padding: 0.5rem;
    text-align: center;
    width: 70%;
    color: var(--accent);
    border-bottom-style: solid;
    border-color: var(--accentS);
}

@media screen and (max-width: 680px) {

    .container {
        height: auto; // could be auto
        width: 90%;
        padding: 0.25rem;
        margin: 1rem 0rem;

        
    }

    #aboutIntro {
        width: auto;
        p {
            font-size: 16px;
        }
    }

    #aboutMain {
        p {
            font-size: 15px;
        }
        .box {
            height: 250px;
            width: 250px;
            margin-bottom: 1rem;
        }
    }

    
}