<header>
  <div class="container">
    <a routerLink="/" class="logo"></a>
    <nav>
      <ul>
        <li><a href="#" class="current" routerLink="/">HOME</a></li>
        <li><a href="#" class="current"routerLink="/about">ABOUT</a></li>
        <li><a href="#" class="current"routerLink="/work">WORK</a></li>
        <li><a href="#" class="current"routerLink="/contact">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="stroke"></div>

<div class="container" class="content">
  <router-outlet></router-outlet>
</div>