// DECLARATIONS

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');



:root { // global CSS var's

    // COLORS
    --c1: #121615;//rgb(18, 22, 21); //rgb(26, 27, 26);
    --c2: #19201e;//rgb(7, 36, 25); //rgb(36, 37, 36);
    --c3: rgb(18, 24, 22);//00331A;//rgb(30, 46, 37);
    --c4: #1d2c25;
    --c5: #242e2b;
    //--red: #CC0033; //rgb(187, 20, 75);//rgb(5, 29, 28);
    --accentL: #66FFCC;// #FF9933;
    --accent: rgb(38, 218, 128); //33FF99
    --accentSL: #00CC66;//#33CC99;
    --accentS: rgb(48, 134, 91);//339966;
    --accentSD:  rgb(26, 73, 54);
    --accentD: rgb(19, 41, 32);//rgb(0, 43, 43); //dark // rename base?

    //--accent: cyan;//rgb(122, 231, 198) ;//rgb(102, 204, 153); //rgb(43, 255, 0)
    --accentG: 0 0 7px rgb(0, 0, 0), 0 0 7px var(--accent); //glow
    //--accentS: #339999;//rgb(94, 150, 140);//rgb(0, 70, 70);//rgb(54, 92, 54); //shade
 

    // FONTS
    --fNunito: 'Nunito', 'sans-serif';
    --fTech: 'Share Tech Mono', monospace;
    --fRubik: 'Rubik', sans-serif;
    --fQuick: 'Quicksand', sans-serif;
    --fAlatsi: 'Alatsi', sans-serif;
    --fBebas: 'Bebas Neue', cursive;
}

$hx: 5rem; //header height
$fx: 7rem; //footer height

// GENERAL

html {
    position: relative;
    min-height: 100%;
}

// HEADER 

header {
    //background-image: linear-gradient(var(--c1), var(--c2), var(--c1));
    background-color: var(--c1);
    width: 100%;
    height: $hx;
    top: 0;
    position: absolute;

    a {
        display: inline-block;
        padding: 0.5rem 0;
    }
    .container {
        width: 95%;
        margin: 0 auto;
    }
}

.logo {  
    background-image: url(../src/assets/images/logoInvert.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--accent);
    width: $hx - 0.5rem;
    height: $hx - 2rem;
    margin: 0.5rem;

    &:hover {
        //background-image: url(../src/assets/images/logo11.png);
        // display 'Wannes Dieltiens' instead of logo?
        // else add a preloader
    }
}
.icon {
    display: none;
    height: $hx;
    color: var(--accent); 
    font-size: 1.7rem;
}

nav {
    float: right;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;    

        li a {
            width: 6rem;
            height: $hx;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: var(--accentSD);
            font-family: var(--fTech);
            font-size: 1.3rem;

            &.active {
                color: var(--accent);
                background-color:var(--c4);
                //text-shadow: var(--accentG);
                //box-shadow: inset 0 0 1rem 0.3rem rgba(33, 212, 102, 0.3); // maybe
                //text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 7px $accent;
            }
            &:hover:not(.active) {
                color: var(--accentSL);  
                box-shadow: inset 0 0 1rem 0.3rem rgba(10, 12, 11, 0.7);

            }

            

            
        }
    }
}

// BODY

body {
    //background-image: linear-gradient(to bottom, var(--c1) -5%, var(--accentD) 50%, var(--accentSD));
    //background-image: linear-gradient(-45deg, rgb(24, 24, 24), rgb(46, 46, 46));
    background-color: var(--c2);
    background-image: linear-gradient(to top, var(--c3) -20%, var(--c4) 80%);
    margin: 0;
    font-family: var(--fNunito); //should find better font

    .content {
       
        color: var(--accentS);
        margin: 1rem auto; // TEMP !!!!
        margin-top: $hx + 1;
        width: 95%; 
        min-height: 75vh;
    }
}

// FOOTER

footer {
    //background-image: linear-gradient(var(--c3) -30%, var(--c2) 13%, var(--c1));
    background-color: var(--c1);
    color: var(--accent);
    height: $fx;
    width: 100%;
    position: absolute;
    margin-bottom: 0;
    font-family: var(--fTech);
}

@media screen and (max-width:680px) {

    // HEADER
    header {
        
        .icon { display: flex;  height: $hx - 0.5rem; }
        .container { width: auto }
        .logo { 
            margin-left: 1rem;
            height: $hx - 2.5rem;
            width: $hx - 1rem;
        }
        height: $hx - 0.5rem;
        
        nav { //creates vert nav and show only menu btn
            li:not(:first-child) { display: none}

            &.responsive { //vert nav pops up when pressed menu btn
                position: relative;  
                a.icon { position: absolute }
                a.active { background-color: var(--c1)}
                a {height: $hx - 0.5rem}
                ul, li { display: block;}

                li { 
                    height: $hx - 0.5rem;
                    background-color: var(--c1);
                    &:first-child { background-color: none }
                }
            }
        }
    }

    // BODY

    body .content { 
        width: 95%;
        margin-top: $hx + 0.5rem;
    }

}