// DECLARATIONS
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

$primary: rgb(24, 26, 24);
$secundary: rgb(36, 36, 36);
$thirdy: rgb(16, 19, 17);

$accent: rgb(0, 255, 51);
$accentGlow: 0 0 7px rgb(0, 0, 0), 0 0 7px $accent;;
$accentDark: rgb(54, 92, 54);

// GENERAL

html {
    position: relative;
    min-height: 100%;
}

.container { /*tweak this */
    width: 90%;
    margin: 0 auto;
}



// HEADER 

header {
    background-image: linear-gradient($primary, $secundary, $primary);
    width: 100%;
    height: 6rem;
    position: fixed;
    top: 0;

    a {
        display: inline-block;
        padding: 0.5rem 0;
    }
}

.logo{  
    background-image: url(../src/assets/images/logoAccent.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 5rem;
    height: 5rem;  
    //&:hover { background-image: url(../src/assets/images/logo5.png); }
}

.icon {
    display: none;
    height: 6rem;
    color: $accent; 
    font-size: 1.7rem;
}

nav {
    float: right;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;     

        li a {
            width: 6rem;
            height: 6rem;
            padding: 0 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: $accentDark;
            font-family: 'Share Tech Mono', monospace;
            font-size: 1.3rem;

            &.active {
                color: $accent;
                text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 7px $accent;
                //box-shadow: inset 0 0 1rem 0.1rem (rgba(0, 255, 42, 0.54));
                /*background-image: linear-gradient(rgba(26, 29, 26, 1),
                                                rgba(47, 58, 49, 0.8),
                                                rgba(26, 29, 26, 1) );*/
                //background-image:radial-gradient(rgb(49, 82, 55), rgba(26, 29, 26, 0) 60%);
                /*background-image:radial-gradient(rgba(0, 0, 0, 0) 50%, $accent, rgba(0, 0, 0, 0) 60%);
                &:hover {
                    background-image:radial-gradient($secundary 20%, rgba(30,30,30) 50%, $accent 57%, rgba(30,30,30) 58%, $thirdy 95%);
                }*/
            }

            &:hover {
                    color: $accent;
                    text-shadow: $accentGlow;
                    box-shadow: inset 0 0 1rem 0.5rem rgb(20, 24, 20);
                    //background-image: linear-gradient($thirdy, $secundary, $thirdy );
                    //background-image:radial-gradient($secundary, $thirdy 90%);
                    //background-image:radial-gradient(rgb(19, 19, 19), rgba(26, 29, 26, 0) 60%);
            }
        }
    }
}

// BODY

body {
    
    background-image: linear-gradient($thirdy 11%, $secundary 13%, $primary);
    /*temporary*/
    margin: 0;
    font-family: 'Nunito', 'sans-serif'; /*should find better font*/

    .content {
        background-color: $secundary;
        color:rgb(181, 255, 194);
        padding: 0.5rem;
        margin: 1rem;
    }
}

// FOOTER

footer {
    /* background-image: linear-gradient($secundary, 
                                    rgb(32, 49, 34) 25%,
                                    rgb(32, 49, 34) 75%, 
                                    $primary); */
    /*background-image:linear-gradient(rgb(43, 43, 43) ,
                                    rgb(102, 102, 102) 5%, 
                                    rgb(56, 56, 56) );*/
                                    
    background-image: linear-gradient($thirdy -30%, $secundary 13%, $primary);
    color: $accent;
    height: 7rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-family: 'Share Tech Mono', monospace;
}

@media screen and (max-width:600px) {

    // HEADER

    header {
        .container {width: 100%}
        .logo {margin-left: 2rem;}
        .icon {display: flex;}

        nav { //creates vert nav and show only menu btn
            li:not(:first-child) {
                display: none;
            }

            &.responsive { //vert nav pops up when pressed menu btn
                position: relative;
                background-color:rgb(24, 24, 24);
                a.icon { position: absolute; } 
                ul, li {display: block;}
                li { height: 6rem; }
            }
        }
    } 
}