// DECLARATIONS

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

$primary: rgb(1, 2, 0); //rgb(26, 27, 26);
$secundary: rgb(9, 36, 7); //rgb(36, 37, 36);
$thirdy: rgb(5, 29, 28);

$accent: rgb(0, 255, 149); //rgb(43, 255, 0)
$accentGlow: 0 0 7px rgb(0, 0, 0), 0 0 7px $accent;
$accentDark: rgb(0, 126, 73);//rgb(0, 70, 70);//rgb(54, 92, 54);
$accentDarker: rgb(0, 58, 34);//rgb(0, 43, 43);

$hx: 5rem; //header height
$fx: 7rem; //footer height

// GENERAL

html {
    position: relative;
    min-height: 100%;
}

// HEADER 

header {
    //background-image: linear-gradient($primary, $secundary, $primary);
    background-color: $primary;
    width: 100%;
    height: $hx;
    top: 0;

    a {
        display: inline-block;
        padding: 0.5rem 0;
    }
    .container {
        width: 95%;
        margin: 0 auto;
    }
}

.logo {  
    background-image: url(../src/assets/images/logo7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: $hx - 1rem;
    height: $hx - 1rem;
    margin-left: 0.5rem;

    &:hover {
        // display 'Wannes Dieltiens' instead of logo
    }
}
.icon {
    display: none;
    height: $hx;
    color: $accent; 
    font-size: 1.7rem;
}

nav {
    float: right;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;    

        li a {
            width: 6rem;
            height: $hx;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: $accentDark;
            font-family: 'Share Tech Mono', monospace;
            font-size: 1.3rem;

            &.active {
                color: $accent;
                text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 7px $accent;
            }

            &:hover {
                    color: $accent;
                    text-shadow: $accentGlow;
                    //box-shadow: inset 0 0 1rem 0.5rem rgb(20, 24, 20);
            }
        }
    }
}

// BODY

body {
    background-image: linear-gradient(to bottom, $primary , $accentDarker 500px, $accent 95%);
    //background-image: linear-gradient(-45deg, rgb(24, 24, 24), rgb(46, 46, 46));
    //background-color: $accentDarker;
    margin: 0;
    font-family: 'Nunito', 'sans-serif'; //should find better font

    .content {
        //background-image: linear-gradient(to top, $primary,rgba(22, 22, 22, 0.24));
        color:rgb(181, 255, 194);
        margin: 1rem auto; // TEMP !!!!
        width: 95%; 
    }
}

// FOOTER

footer {
    //background-image: linear-gradient($thirdy -30%, $secundary 13%, $primary);
    background-color: $primary;
    color: $accent;
    height: $fx;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-family: 'Share Tech Mono', monospace;
}

@media screen and (max-width:680px) {

    // HEADER

    header {
        .icon { display: flex }
        .container { width: auto }
        .logo { margin-left: 1rem }
        
        nav { //creates vert nav and show only menu btn
            li:not(:first-child) { display: none }

            &.responsive { //vert nav pops up when pressed menu btn
                position: relative;  
                a.icon { position: absolute } 
                ul, li { display: block }

                li { 
                    height: $hx;
                    background-color: $primary;
                    &:first-child { background-color: none }
                }
            }
        }
    }

    // BODY

    body .content { 
        width: 95%;
    }

}