// DECLARATIONS

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

:root { // global CSS var's

    // COLORS
    --c1: rgb(20, 26, 24); //rgb(26, 27, 26);
    --c2: rgb(7, 36, 25); //rgb(36, 37, 36);
    --c3: rgb(5, 29, 28);

    --accent: rgb(130, 248, 219); //rgb(43, 255, 0)
    --accentG: 0 0 7px rgb(0, 0, 0), 0 0 7px var(--accent); //glow
    --accentS: rgb(87, 172, 146);//rgb(0, 70, 70);//rgb(54, 92, 54); //shade
    --accentD: rgb(24, 49, 40);//rgb(0, 43, 43); //dark

    // FONTS
    --fNunito: 'Nunito', 'sans-serif';
    --fTech: 'Share Tech Mono', monospace;
    --fRubik: 'Rubik', sans-serif;
}

$hx: 5rem; //header height
$fx: 7rem; //footer height

// GENERAL

html {
    position: relative;
    min-height: 100%;
}

// HEADER 

header {
    //background-image: linear-gradient(var(--c1), var(--c2), var(--c1));
    background-color: var(--c1);
    width: 100%;
    height: $hx;
    top: 0;

    a {
        display: inline-block;
        padding: 0.5rem 0;
    }
    .container {
        width: 95%;
        margin: 0 auto;
    }
}

.logo {  
    background-image: url(../src/assets/images/logo9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: $hx - 1rem;
    height: $hx - 1rem;
    margin-left: 0.5rem;

    &:hover {
        // display 'Wannes Dieltiens' instead of logo?
    }
}
.icon {
    display: none;
    height: $hx;
    color: var(--accent); 
    font-size: 1.7rem;
}

nav {
    float: right;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;    

        li a {
            width: 6rem;
            height: $hx;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: var(--accentD);
            font-family: var(--fTech);
            font-size: 1.3rem;

            &:hover {
                color: var(--accent);
                
                box-shadow: inset 0 0 1rem 0.3rem rgb(10, 12, 10, 0.7);
            }

            &.active {
                color: var(--accent);
                //text-shadow: $accentG;
                //box-shadow: inset 0 0 1rem 0.3rem rgba(33, 212, 102, 0.3); // maybe
                //text-shadow: 0 0 7px rgb(0, 0, 0), 0 0 7px $accent;
            }

            
        }
    }
}

// BODY

body {
    background-image: linear-gradient(to bottom, var(--c1) -5%, var(--accentD) 60%, var(--accentS) 120%);
    //background-image: linear-gradient(-45deg, rgb(24, 24, 24), rgb(46, 46, 46));
   // background-color: $accentD;
    margin: 0;
    font-family: var(--fNunito); //should find better font

    .content {
        //background-image: linear-gradient(to top, var(--c1),rgba(22, 22, 22, 0.24));
        color: var(--accentS);
        margin: 1rem auto; // TEMP !!!!
        width: 95%; 
    }
}

// FOOTER

footer {
    //background-image: linear-gradient(var(--c3) -30%, var(--c2) 13%, var(--c1));
    background-color: var(--c1);
    color: var(--accent);
    height: $fx;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-family: var(--fTech);
}

@media screen and (max-width:680px) {

    // HEADER

    header {
        .icon { display: flex }
        .container { width: auto }
        .logo { margin-left: 1rem }
        
        nav { //creates vert nav and show only menu btn
            li:not(:first-child) { display: none }

            &.responsive { //vert nav pops up when pressed menu btn
                position: relative;  
                a.icon { position: absolute } 
                ul, li { display: block }

                li { 
                    height: $hx;
                    background-color: var(--c1);
                    &:first-child { background-color: none }
                }
            }
        }
    }

    // BODY

    body .content { 
        width: 95%;
    }

}