/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');


$primary: rgb(24, 26, 24);
$secundary: rgb(28, 35, 28);

$accent: rgb(0, 255, 51);
$accentDark: rgb(59, 78, 59);

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-image: linear-gradient($primary, $secundary, $primary);
    width: 100%;
    height: 6em;

    a {
         width: 5em;
         height: 5em;
         display: inline-block;
         padding:0.5em 0;
    }

    .logo{  
        background-image: url(../src/assets/images/logo5.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;  

        &:hover {
            background-image: url(../src/assets/images/logo4Hover.png);
        }
    }

    nav {
        float: right;
        ul {
            list-style-type: none;
            margin: 0;
            display: flex;
            height: 6em;

            li a {  
                height: 100%;
                padding: 0;
                display:flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: $accentDark;
                font-family: 'Share Tech Mono', monospace;
                font-size: 1.3em;

                &:hover {
                    //background: lighten($primary, 20%);
                    color: $accent;
                    text-shadow: 0 0 1px rgb(103, 202, 79), 0 0 4px rgb(10, 37, 2);
                    background-color: rgb(36, 44, 37 , 0.5);
                }
                
            }
        }
    }
}

body {
    
    background-image: linear-gradient(rgb(16, 19, 17) 11%, rgb(39, 59, 43) 13%, $primary);
    /*temporary*/
    margin: 0;
    font-family: 'Nunito', 'sans-serif'; /*should find better font*/

    .content {
        background-color: $secundary;
        color:rgb(181, 255, 194);
        padding: 0.5em;
        margin: 1em;
    }
}

footer {
    /* background-image: linear-gradient($secundary, 
                                    rgb(32, 49, 34) 25%,
                                    rgb(32, 49, 34) 75%, 
                                    $primary); */
    background-image:linear-gradient(rgb(43, 43, 43) ,rgb(102, 102, 102) 5%, rgb(56, 56, 56) );
    height: 10em;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-family: 'Share Tech Mono', monospace;
}

html {
    position: relative;
    min-height: 100%;
}