h1 {
    text-align: center;
    color: var(--accentS);

    //color: darken(var(--accent), 10%);
    font-family: var(--fQuick);
}

span {
    color: var(--accent);
    
    &:hover {
        //color: var(--accent);
        //cursor: default;
        //add animation
    }
}

h2 { //lolz
    text-align: center;
    font-family: var(--fQuick);
    font-size: 30px;
}

/* .test {
    background-color: var(--c1);
    width: 100vw; // needs to be 100vw for tablecell to work, ugh temp
    margin: 1rem auto;
    height: 55vh;
    display: table-cell; // to center lolz
    vertical-align: middle;
} */

canvas {
    background-color: var(--c3);
    width: 90%;
    height: 50vh;
    display: flex;
    margin: auto;
}

#boxContainer {
    //background-color: rgba(44, 153, 255, 0.514);
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.box {
   
    width: 20rem;
    height: auto; //could be 'auto'
    margin: auto 1rem;
    margin-top: 0; 
    //box-shadow: 0 0.7em 0.8rem 0.1rem rgba(8, 8, 8, 0.5);
     // back-image could be global :root variable for re-usage
    //background-image: linear-gradient(to top, rgba(3, 37, 37, 0.5), rgba(8, 127, 151, 0.5));
    //background-image: linear-gradient(-170deg, rgb(30, 39, 36) 0% , rgb(19, 27, 23) 60%);
    background-color: var(--c3);
   

    p {
        margin: 1rem auto 1.5rem auto;
        height: auto;
        width: 80%;
        text-align: justify;
        //font-stretch: ultra-expanded;
        color: var(--accentS);
        display: block;
        font-family: var(--fNunito);
        font-size: 17px;
        //background-color: rgba(255, 0, 0, 0.281);
    }
}

.boxLink { 
    padding: 0.25rem;
    margin: 1rem auto;
    width: 8rem;
    height: 1.25rem; 
    display: block;
    border-style: solid;
    border-width: 0.5px;
    background-color: var(--c4);
    border-color: var(--accentSD);
    color: var(--accentS);
    text-decoration-line: none;
    text-align: center;
    font-size: 17px;
    font-family:var(--fNunito);
    
    &:hover {  //optimize color switch 
        border-style: groove;     
        border-color:var(--accent);
        color: var(--accent); 
        box-shadow: inset 0 0 5px 3px rgba(7, 7, 7, 0.4);
        //background-color: var(--accentD);
    }
}


@media screen and (max-width:680px) {

    #boxContainer {
        display: block;
        width: 100%;
    }

    .box {
        //background-image: linear-gradient(-30deg, rgba(0, 37, 37, 0.5), rgba(0, 135, 135, 0.5));
        width: 90%;
        height: auto;
        padding: 0.25rem;
        margin-bottom: 1.5rem;

        p {
            width: 90%;
            margin: 1rem;
        }
    }

    h1 {
        margin-left: 0;
        text-align: left;
    }

    .boxLink {
        margin: 1rem auto;
    }
}
