<div class="test"></div>

<div id="boxContainer">
    <div class="box">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non mauris dolor. 
            Sed egestas tincidunt neque a varius. Phasellus et ligula vehicula, rhoncus eros vitae, 
            dapibus odio.</p>
        <a href="#" class ="boxLink" routerLink="/">show more</a>
    </div>
    <div class="box">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non mauris dolor. 
                Sed egestas tincidunt neque a varius. Phasellus et ligula vehicula, rhoncus eros vitae, 
                dapibus odio.</p>
            <a href="#" class ="boxLink" routerLink="/">show more</a>
    </div>
    <div class="box">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non mauris dolor. 
                Sed egestas tincidunt neque a varius. Phasellus et ligula vehicula, rhoncus eros vitae, 
                dapibus odio.</p>
            <a href="#" class ="boxLink" routerLink="/">show more</a>
    </div>
</div>

