<h1>
    Hi I'm <span>Wannes</span> , a web <span>developer</span> / <span>designer</span>
</h1>

<canvas>
    
</canvas>

<div id="boxContainer">
    <div class="box">
            <p>
                My wide variety of interests with a passion for nature and a touch of philosophy.
                <br>
                <br>
                Learn more about what I do, what I like and where I'm from. <!-- (hint: I like fries)
                <br>
                <br>
                Oh and cats! -->
            </p>
            <a href="#" class ="boxLink" routerLink="/about">show about</a>
    </div>
    <div class="box">
            <p>
                 Things made in my free time and some projects I worked on.
                <br>
                <br>
                Not a whole lot to show YET since this is my first real project.
            </p>
            <a href="#" class ="boxLink" routerLink="/work">show work</a>
    </div>
    <div class="box">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non mauris dolor. 
                Sed egestas tincidunt neque a varius. Phasellus et ligula vehicula, rhoncus eros vitae, 
                dapibus odio.
            </p>
            <a href="#" class ="boxLink" routerLink="/">show more</a>
    </div>
</div>